@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Rubik:ital,wght@0,300..900;1,300..900&family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Vend Sans", sans-serif;
}
.header{
    background-color: #f0f0f0;
    color: #282828;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
    position: fixed;
    width: 100vw;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    row-gap: 5rem;
}
.boxes{
    display: flex;
    column-gap: 2rem;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #282828;
    /* padding: 50px; */
    height: 150px;
    width: 150px;
    cursor: pointer;
}
input{
    padding: 5px 10px;
    font-size: 0.9rem;
}
button{
    padding: 5px 10px;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
    cursor: pointer;
}
input:focus{
    outline: #282828;
}


/* colors */
.red{
    background-color: red;
    color: #fff;
    border: none;
}
.blue{
    background-color: blue;
    color: #fff;
    border: none;
}
.green{
    background-color: green;
    color: #fff;
    border: none;
}
.yellow{
    background-color: yellow;
    border: none;
}
